.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #0b132b;
  color: white;
}

.dashboard-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* En escritorio el sidebar siempre visible */
@media (min-width: 769px) {
  .sidebar {
    transform: none !important;
  }
}
